/*GENERAL*/

* {
	padding: 0;
	margin: 0 auto;
	font-family: Myriad Pro;
	font-size: 14.69px;
}

body {
	width: 900px;
	background-color: #f9f9f9;
}

.wrapper {
	padding: 30px;
	border-right: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
	background-color: #ffffff;
}

/*HEADER*/

.menu {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #575656;
}

.menu li	{
	display: inline;
	text-align: center;
	line-height: 30px;
}

.menu a {
	text-decoration: none;
	display: inline-block;
	color: white;
	width: 100px;
}

.menu a:hover {
	background-color: #424242;
}

/*SIDEBAR*/

.sidebar {
	float: left;
}

.sidebar ul {
	list-style: none;
	width: 200px;
	border: 1px solid #f0f0f0;
}

.sidebar li +li {
	border-top: 1px solid #f0f0f0;
}

.sidebar li {
	line-height: 25px;
}

.sidebar a {
	display: block;
	color: #575656;
	text-decoration: none;
	padding-left: 10px;
}

.sidebar a:hover {
	background-color: #f9f9f9;
	padding-left: 30px;	
}

/*CONTENT*/

.velo {
	float: right;
	padding: 30px 50px 30px 50px;
	border: 1px solid #f0f0f0;
}


.text {
	clear: both;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 60%;
	float: right;

}

.text p {
	font-size: 13.33px;
}

/*FOOTER*/

.footer {
	clear: both;
	background-color: #e1e1e1;
}


.footer li {
	display: inline;
	text-align: center;
	padding-left: 50px;
	line-height: 30px;
	
}

.footer a {
	display: inline-block;
	text-decoration: none;
	color: #575656;
}

.footer a:hover {
	text-decoration: underline;
}

.footer p {
	float: right;
	margin-right: 20px;
	color: #575656;
}