* {
	margin: auto;
	padding: 0;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}


td {
	height: 50px;
	width: 50px;
	border: 3px solid black;
	
}

.last,
.last1 {
	height: 25px;
}

tr {

}